#contact-form {
  padding: 20px 0;
}
#contact-form h3 {
  font-size: 32px;
}
#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}
#contact-info {
  display: inline-block;
  width: 100%;
}


@media screen and (max-width: 480px) {
  #contact-form {
    padding-left: 20px;
  }
  #contact-form input, #contact-form textarea {
    width: 95%;
  }
}
